*{
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
}
/* Shared style */

.primary-text-color{
    color: #3A3A3A;
}

.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-heading{
    font-size: 24px;
    font-weight: 700;


}

nav > ul {
    display: flex;
    gap: 15px;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
}
.banner{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}



.banner-titel{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
   
}
.banner-content{
    padding-top: 10px;
    padding-left: 120px;
}


.banner-content-imge img{
    width: 95%;
}

.selaing-group{
    padding: 80px 210px;
    display: flex;
    justify-content: space-around;
}
.selaing-group img{
    width: 100px;
}


/* Responsive Style Start */
/* _________________________________________________________ */
/* ________________________Mobile__Device_______________________________ */
@media screen and (max-width: 576px) {

    nav, 
    nav > ul,
    .banner,
    .selaing-group{
        flex-direction: column;
        gap: 50px;
    }
   
    
}




/* _________________________________________________________ */
/* _________________________________________________________ */
/* _____________________Tablet__ Devices____________________ */

@media screen and (min-width: 576px) and (max-width: 962px) {

    nav,
    .banner{
        flex-direction: column;
        gap: 50px;
    }
    .selaing-group{
        padding: 50px 0px 50px 180px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .selaing-group img{
        width: 100px;
    }
    
}



/* _________________________________________________________ */
/* _________________________________________________________ */
/* _________________________________________________________ */
/* _________________________________________________________ */
/* _________________________________________________________ */
/* _________________________________________________________ */